
<header class="masthead">
    <div class="container total-header">
        <div class="row">
    		<div class="col-md-6 total-logo">
        		<img class="img-fluid imagem-logo-banner" src="{url}img/logo-banner.png" style="width: 295px;margin-top: 125px;" alt="" />
            </div>
            <div class="col-md-6 total-texto-logo text-center">
            	<a class="btn btn-primary js-scroll-trigger botao-conhecer" href="#agendar">Eventos em andamentos</a>
            </div>
        </div>
    </div>
</header>

<section class="projects-section bg-light">
	<div class="container">
	    <div class="row justify-content-center no-gutters mb-5 mb-lg-0" id="cervejaria-santa-catarina">
	        <div class="col-lg-6">
	        	<img class="img-fluid imagem-cervejaria" src="img/1.jpg" alt="" />
	        </div>
	        <div class="col-lg-6">
	            <div class="text-center h-100 project">
	                <div class="d-flex h-100">
	                    <div class="project-text total-detalhes-home w-100 my-auto text-center text-lg-left">
	                        <h4 class="text-black">10ª TRILHA LOBO DA TRILHA</h4>
	                        <p class="mb-0 text-black-50">Acontecera em Tubarão/SC, com direito a sorteio de um escape power core 4.</p>
	                         <a class="btn btn-primary botao-agendar-visita-saint-experience js-scroll-trigger" href="#agendar">Inscrever</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row justify-content-center no-gutters" id="saint-experience">
	        <div class="col-lg-6">
	        	<img class="img-fluid imagem-garrafas" style="border-radius: 10px;" src="{url}img/cervejas.png" alt="" />    
	        </div>
	        <div class="col-lg-6 order-lg-first">
	        	<div class="text-center h-100 project">
	                <div class="d-flex h-100">
	                    <div class="project-text total-detalhes-home w-100 my-auto text-center text-lg-right">
	                        <h4 class="text-black">10ª TRILHA LOBO DA TRILHA</h4>
	                        <p class="mb-0 text-black-50">Fotos durante o evento.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row justify-content-center no-gutters" id="saint-experience">
	        <div class="col-lg-6 order-lg-first">
	        	<img class="img-fluid imagem-saint-experience" src="{url}img/2.jpg" alt="" />    
	        </div>
	        <div class="col-lg-6">
	        	<div class="text-center h-100 project">
	                <div class="d-flex h-100">
	                    <div class="project-text total-detalhes-home w-100 my-auto text-center text-lg-left">
	                        <h4 class="text-black">10ª TRILHA LOBO DA TRILHA</h4>
	                        <p class="mb-0 text-black-50">Fotos durante o evento.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	   	<div class="container section-5 pl-3 pr-3">

			<div class="row section-header mt-4">
				<div class="col-sm-12" style="font-family: 'Clab-Bold' !important;">
					<h2 class="text-left" style="font-size: 62px !important;">Instagram</h2>
				</div>
			</div>
			
			<div id="instagram-media">
				<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram1.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

				<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram2.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

		      	<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram3.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

		      	<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram4.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

		      	<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram5.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

		      	<div class="col-md-4 total-imagem-instagram">
					<a target="_blank" href="https://www.instagram.com/cervejariasc/">
				        <img id="imagem-instagram-'.$value['id'].'" src="img/instagram6.jpg" alt="'.$value['nome'].'">
			      	</a>
		      	</div>

			</div>

		</div>
	</div>
</section>
<!-- Signup-->
	<div class="col-sm-12" style="font-family: 'Clab-Bold' !important;">
		<h2 class="text-left" style="font-size: 62px !important;">Inscrever-se no Club!</h2>
	</div>
<section class="signup-section" id="agendar">
	<div class="container">
	    <div class="row">
	    	<div class="col-md-6">
	    		<img src="img/logo.png" style="width: 50%;margin-top: 10px;margin-left: 95px;">
	    	</div>
	    	<div class="col-md-6">
	    		<form action="#" onsubmit="event.preventDefault()" class="form-agendar">

	    			<input type="text" name="nome" class="form-control input-agendar-visita mt-4 input-nome" value="" placeholder="Nome completo" required="">
              		<input type="email" name="email" class="form-control input-agendar-visita mt-4 input-email" value="" placeholder="Endereço de e-mail" required="">
					<input type="text" name="telefone" class="form-control input-agendar-visita mt-4 input-telefone" value="" placeholder="Telefone" required="">

					<!-- <div class="row">
						<div class="col">
							<input type="text" name="data" class="form-control input-agendar-visita mt-4 datepicker date input-data" data-provide="datepicker" autocomplete="off" placeholder="Data da visita" required="">
						</div>
						<div class="col">
							<select class="form-control input-agendar-visita form-select mt-4 input-horario" name="horario">
							  <option value="0" selected>Horário da visita</option>
							  <option value="1500">15:00</option>
							  <option value="1700">17:00</option>
							  <option value="1930">19:30</option>
							  <option value="2030">20:30</option> -->
							  <!-- <option value="2130">21:30</option> -->
							<!-- </select>
						</div>
					</div> -->

	                <!-- <select class="form-control input-agendar-visita form-select mt-4 select-total-de-pessoas input-quantidade" name="quantidade">
					  <option value="0" selected>Total de visitantes</option>
					  <option value="1">1 pessoa</option>
					  <option value="2">2 pessoas</option>
					  <option value="3">3 pessoas</option>
					  <option value="4">4 pessoas</option>
					  <option value="5">5 pessoas</option>
					  <option value="6">6 pessoas</option>
					  <option value="7">7 pessoas</option>
					  <option value="8">8 pessoas</option>
					  <option value="9">9 pessoas</option>
					  <option value="10">10 pessoas</option>
					  <option value="11">11 pessoas</option>
					  <option value="12">12 pessoas</option>
					  <option value="13">13 pessoas</option>
					  <option value="14">14 pessoas</option>
					  <option value="15">15 pessoas</option>
					  <option value="16">16 pessoas</option>
					  <option value="17">17 pessoas</option>
					  <option value="18">18 pessoas</option>
					  <option value="19">19 pessoas</option>
					  <option value="20">20 pessoas</option>
					</select> -->
					<div class="text-center">
	                	<button class="btn btn-primary mx-auto mt-4 botao-agendar-visita-formulario text-center" type="submit">Inscrever no Club</button>
	                </div>
	            </form>
	    	</div>
	    </div>
	</div>
</section>
<!-- Contact-->
<!-- <section class="contact-section">
	<div class="container">
	    <div class="row">
	        <div class="col-md-4 mb-3 mb-md-0">
	            <div class="card shadow py-4 h-100">
	                <div class="card-body text-center">
	                    <i class="fa fa-map-marker fa-2x text-primary mb-2"></i>
	                    <h4 class="text-uppercase m-0">Endereço</h4>
	                    <div class="small text-black-50">Av 25 de Julho, 1303 - Vila Lourdes - Forquilhinha - SC</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-4 mb-3 mb-md-0">
	            <div class="card shadow py-4 h-100">
	                <div class="card-body text-center">
	                    <i class="fa fa-envelope fa-2x text-primary mb-2"></i>
	                    <h4 class="text-uppercase m-0">E-mail</h4>
	                    <div class="small text-black-50"><a href="mailto:visitacao@cervejariasc.com.br">visitacao@cervejariasc.com.br</a></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-4 mb-3 mb-md-0">
	            <div class="card shadow py-4 h-100">
	                <div class="card-body text-center">
	                    <i class="fa fa-phone fa-2x text-primary mb-2"></i>
	                    <h4 class="text-uppercase m-0">Telefone</h4>
	                    <div class="small text-black-50"><a href="tel:4834633400">(48) 9 9167 4039</a></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section> -->